<H1>e2 . Data Science Tools and Ecosystem</H1>

e.3 In this notebook, Data Science Tools and Ecosystem are summarized.

e.4 Some of the popular languages that Data Scientists use are:

<ol>
  <li>Python</li>
  <li>R</li>
  <li>SQL</li>
</ol>

e.5 Some of the commonly used libraries used by Data Scientists include:

<ol>
  <li>Pandas</li>
  <li>Numpy</li>
  <li>Matplotlib</li>
</ol>

e.6 Data Science Tools:

Below is a table showcasing some of the popular Data Science tools:

<table>
    <thead>
        <tr>
            <th>Data Science Tools</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Jupyter Notebook</td>
        </tr>
        <tr>
            <td>RStudio</td>
        </tr>
        <tr>
            <td>Apache Zeppelin</td>
        </tr>
    </tbody>
</table>

<H3> e.7 Below are a few examples of evaluating arithmetic expressions in Python. </H3>

In [ ]:
# Ejercicio 8
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [4]:
# Ejercicio 9 - Convertir minutos en horas
# This will convert 200 minutes to hours by dividing by 60.
hours = 200 / 60
hours

3.3333333333333335

e.10 - List List popular languages for Data Science:

<H4><b>Objectives:</b></H4>

- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Work with tools used in Data Science
- Perform simple arithmetic operations in Python

e.11 Author:<H2>Sebastian C.</H2>